<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>The Greenhouse I/O</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="description" content="Personal site and blog for Owen Buckley and The Greenhouse I/O.  Ideas are built here.."/>
    <meta name="twitter:creator" content="@thegreenhouseio"/>
    <meta name="twitter:site" content="https://www.thegreenhouse.io"/>
    <meta property="og:title" content="The Greenhouse I/O"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.thegreenhouse.io"/>
    <meta property="og:image" content="https://www.thegreenhouse.io/assets/og-meta-preview.png"/>
    <meta property="og:description" content="Personal site and blog for Owen Buckley and The Greenhouse I/O.  Ideas are built here."/>
    
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>
    
    <script type="module" src="/components/footer/footer.js" data-gwd-opt="static"></script>
    <script type="module" src="/components/header/header.js" data-gwd-opt="static"></script>
    <script type="module" src="/components/navigation/navigation.js" data-gwd-opt="static"></script>

    <link rel="stylesheet" href="/styles/theme.css"></link>
    <link rel="stylesheet" href="/styles/page.css"></link>
    
    <style>
      .outlet {
        min-height: 50vh
      }
    </style>
  </head>

  <body>

    <div class="layout">
      <section class="row">
        <app-header></app-header>
      </section>
      
      <section class='row'>
        <app-navigation></app-navigation>
      </section>

      <section class="outlet row">  
        <page-outlet></page-outlet>
      </section>

      <section class="row">
        <app-footer></app-footer>
      </section>
    </div>

  </body>

</html>