<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <style>
      h2 {
        width: 90%;
        text-align: center;
      }
      
      p {
        width: 90%;
        margin: 20px auto;
        text-align: left;
        font-size: 20px;
      }

      p.cta {
        text-align: center;
      }

      hr {
        width: 15%;
        margin: 5px auto;
      }

      @media (min-width: 800px) {
        p {
          width: 75%;
        }
      }
    </style>
  </head>

  <body>
    <div>
      <content-outlet></content-outlet>
    </div>
  </body>

</html>