<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <script type="module" src="/templates/post.js"></script>
  </head>

  <body>

    <!-- TODO: could move markdown content into here -->
    <!-- or could move <app-blog-post> to components and / or markdown using frontmatter import -->
    <!-- or when nested paths work -->
    <app-blog-post>
      <article slot="contentoutlet">
        <content-outlet></content-outlet>
      </article>
    </app-blog-post>
  </body>

</html>