.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.layout {
  background-color: #fff;
  width: 80%;
  margin: 0 auto 20px;
}

.layout .outlet {
  margin: 0 0 20px;
}

.clear-fix {
  clear: both;
}

@media (max-width: 768px) {
  .layout {
    width: 90%;
  }
}