p {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
}

img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

pre {
  width: 400px;
  display: block;
  margin: 0 auto;
  text-align: left;
}