/* @import url('//fonts.googleapis.com/css?family=Avenir+Next&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout / Global */
body {
  background-color: #036;
  font-family: 'Avenir Next', sans-serif;
  line-height: 1.45;
  font-size: '18px';
}

h1,
h2,
h4,
h5,
h6 {
  line-height: 1.4;
}