@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout / Global */
body {
  background-color: rgb(0, 122, 204);
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.4;
}