.card {
  width: 70%;
  margin: 0 auto 35px;
  max-width: 1024px;
  min-width: 320px;
  border: 2px solid #020202;
  border-radius: 5px;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.card-header, .card-content {
  text-align: left;
}

.card-slides {
  margin-left: 20px;
  text-decoration: none;
  color: #020202;
}

.card-footer img {
  width: 100%;
}

@media (min-width: 500px) {
  .card-header-icon {
    display: none;
  }

  .card {
    border: none;
  }
}

@media (min-width: 300px) {
  .card-header-icon {
    display: none;
  }

  .card {
    border: none;
  }
}

@media (min-width: 700px) {
  .card {
    border: 2px solid #020202;
  }
  
  .card-header-icon {
    display: inline;
    grid-column: col-start / span 2;
    grid-row: 1 / 6;  /* autoprefixer: off */
  }

  .card-header {
    grid-column: col-start 3 / span 10;
    grid-row: 1 / 6; /* autoprefixer: off */
  }
}