.card {
  width: 70%;
  margin: 0 auto 35px;
}

/* don't need */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}
/* don't need ^^^*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.card-header-heading, .card-content {
  text-align: left;
}

@media (min-width: 500px) {
  .content, .main-footer {
    grid-column: col-start 4 / span 9;
  }
}

@media (min-width: 700px) {
  .card-header-icon {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;  /* autoprefixer: off */
  }

  .card-header-heading {
    grid-column: col-start 3 / span 10;
    grid-row: 2 / 4; /* autoprefixer: off */
  }

  .card-content {
    grid-row: 4 / 4; /* autoprefixer: off */
  }

  .main-footer {
    grid-column: col-start / span 12;
  }
}