.navigation {
  display: block;
}

.navigation ul {
  list-style: none;
  margin: 0;
}

.navigation li {
  display: inline-block;
  width: 100px;
}

.navigation a {
  color: #020202;
  font-size: 1.4em;
}