body {
  background-color: rgb(0, 122, 204);
}

section {
  margin: 0 auto;
  text-align: center;
}

section p {
  width: 65%;
  margin: 20px auto;
  text-align: left;
  font-size: 20px;
}

section p.cta {
  text-align: center;
}

.clear-fix {
  clear: both;
}