.header {
  width: 100%;
}

header {
  background-image: url('./banner.png');
  background-size: cover;
  background-color: #020202;
  height: 300px;
}

.caption {
  width: 100%;
  text-align: center;
  color: #efefef;
  background-color: #020202;
  font-style: italic;
}