:host {
  & footer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }

  & li {
    display: inline-block;
  }

  & .copyright {
    display: inline-block;
    margin: 10px auto;
  }
}