.blog-post .header {
  background-repeat: no-repeat;
  background-position: center;
  line-height: 125px;
  height: 200px;
}

.blog-post .header h1, .blog-post .header h5 {
  text-align: center;
}

/* .blog-post p {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
}

.blog-post ul {
  list-style-type: none;
}

.blog-post pre {
  width: 400px;
  display: block;
  margin: 0 auto;
  text-align: left;
}

.blog-post img {
  display: inline-block;
  width: 70%;
} */